<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" lang="pt-br"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Get-it</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
      integrity="sha512-NmLkDIU1C/C88wi324HBc+S2kLhi08PN5GDeUVVVC/BVt/9Izdsc9SVeVfA1UZbY3sHUlDSyRXhCzHfr6hmPPw=="
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Permanent+Marker&display=swap" />
    <link rel="stylesheet" href="../styles/styles.css" />
  </head>

  <body>
    <div class="appbar">
      <div class="logo-container">
        <img src="../img/logo-getit.png" class="logo" />
        <span class="subtitle">Como o Post-it, mas com outro verbo</span>
      </div>
      <span class="subtitle">Há {amount} notas cadastradas</span>
    </div>

    <main class="container">
      <div class="form-card">
        <input id="card-title" class="form-card-title" type="text" placeholder="Título" />
        <textarea id="card-content" class="autoresize" placeholder="Digite o conteúdo..." ></textarea>
        <button class="interactive btn-yellow" onclick="createNote()">Criar</button>
      </div>

      <ul id="notes-list" class="card-container">
          {notes}
      </ul>
    </main>

    <script type="text/javascript" src="../scripts/script.js"></script>
  </body>
</html>
